*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.calc {
    width: 400px;
    background: black;
    color: white;
    display: block;
    margin: 0 auto;
}

.screen {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: green;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: beige;
}

.calc-button:active {
    background-color: limegreen;
}

.calc-button:last-child {
    background-color: orange;
}
.calc-button:last-child:active {
    background-color: darkgrey;
}
.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 5px;
}

